@charset "UTF-8";

@media (max-width:769px){
    body{
        background-color: rgba(0, 0, 0, 0.37);
    }
    #mapa form{
        max-width: 500px;
        margin: auto;
    }
    #mapa select{
        width: 90%;
        margin-bottom: 5px;
    }
    #mapa input{
        width: 44.5%;
        position: relative;
    }
    #box-content{
        height: 350px;
    }
    #imagem-id{
        width: 70%;
    }
    #mapa #cancel:active {/*testar o hover com active no cell*/
        background-color: var(--cor-w);
        color: white;
    }
    .card{
        width: 350px;
    }
}