@charset "UTF-8";

@media (min-width:769px){
    nav a:nth-child(n + 8) {
        text-align: center;
        float: right;
        margin: 0px 10px 0px 0px;
    }

    #mapa #cancel:hover {
        background-color: var(--cor-w);
        color: white;
    }

    #box-content{
        width: 75%;
    }
    
    .prd-g:hover {
        background: gray;
    }

    .prd-b:hover {
        background: darkblue;
        box-shadow: 2px 2px 2px rgb(5, 5, 165);
    }

    .prd-o:hover {
        background: orange;
        box-shadow: 2px 2px 2px #ffa500;
    }

    .prd-y:hover {
        background: yellow;
        box-shadow: 2px 2px 2px rgb(252, 252, 10);
    }
}

@media (max-width:769px){
    body{
        background-color: rgba(0, 0, 0, 0.37);
    }

    header p{
        font-size: 1.1em;
    }

    .banner{
        margin-top: -90px;
    }

    nav a{
        display: none;
    }

    #btn-menu{
        display: block;
        cursor: pointer;
    }

    #check:checked~a{
        display: block;
    }

    nav{
        background-color: var(--cor4);
        margin-bottom: 90px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.377);
    }

    #mapa form{
        max-width: 500px;
        margin: auto;
    }

    #mapa select{
        width: 90%;
        margin-bottom: 5px;
    }

    #mapa input{
        width: 44.5%;
        position: relative;
    }

    #imagem-id{
        width: 70%;
    }

    #mapa #cancel:active {
        background-color: var(--cor-w);
        color: white;
    }

    .card{
        width: 300px;
    }
}

@media (max-width:360px){
    .card{
        width: 260px;
    }

    header p{
        font-size: 1em;
    }
}

@media (min-width:850px){
    dialog img{
        width: 75%;
    }
}